{% load static %}
<html>
<head>
<title>Prevention  Of Data Hacking with
Blockchain
</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="main_resize">
    <div class="header">
      <div class="logo">
        <h1><span>Prevention  Of Data Hacking with
Blockchain</span><small></small></h1>
      </div>
    </div>
    <div class="content">
      <div class="content_bg">
        <div class="menu_nav">
          <ul>
            <ul>
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="{% url 'Hospital' %}">Company</a></li>
      <li><a href="{% url 'Patient' %}">Customer Login</a></li>
      <li><a href="{% url 'CreateProfile' %}">New Customer Register Here</a></li>
   </ul>
          </ul>
        </div>
        <div class="hbg"><img src="{% static 'images/Network_conntectivity.jpg' %}" width="100%" height="auto" alt="" /></div>

		{{ data }}

       <p align="justify"><font size="3" style="font-family: Comic Sans MS" color="black">Data is the input for various  algorithms to mine valuable features, yet data in Internet is scattered everywhere and controlled by different stakeholders who cannot believe in each other, and usage of the data in complex cyberspace is difficult to authorize or to validate. As a result, it is very difficult to enable data sharing in cyberspace for the real big data. In this we propose the Sec Net, an architecture that can enable secure data storing, computing, and sharing in the large-scale Internet environment, aiming at a more secure cyberspace with real big data and thus enhanced  with plenty of data source, by integrating  key component: Blockchain-based data sharing with ownership guarantee, which enables trusted data sharing in the large-scale environment to form real big data.
</p>

 
 
  </body>
</html>
